main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

.create-hero-btn {
    background: var(--mat-sys-primary-container);
}

app-chip {
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
